@{ define "app_head.html" }
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>@{ .title }</title>
<link rel="icon" href="/public/favicon.svg" type="image/x-svg+xml" />
<link rel="stylesheet" href="/public/vant/index.css" />

<script src="/public/vue/vue.min.js"></script>
<script src="/public/vant/vant.min.js"></script>

<style>
    html,
    body,
    #app {
        height: 100%;
        background-color: #f7f8fa;
    }

    #app-iframe {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
</style>
@{ end }