<!DOCTYPE html>
<html>
  <head>
    @{ template "app_head.html". }
    <title>@{.title }</title>

    <style></style>
  </head>

  <body>
    <div id="app">
      <van-cell-group>
        <van-cell title="单元格" value="内容" />
        <van-cell title="单元格" value="内容" label="描述信息" />
      </van-cell-group>
      <div style="position: fixed; bottom: 80px; right: 20px">
        <van-button
          type="primary"
          color="linear-gradient(to right, #ff6034, #ee0a24)"
          style="
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
          "
          @click="onClickSale"
          >出</van-button
        >
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            showSaleAction: false,
          };
        },
        created() {},
        methods: {
          onClickSale() {
            this.showSaleAction = true;
            this.getProductData();
          },
        },
      });
    </script>
  </body>
</html>
