<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@{ .title }</title>
    <link rel="icon" href="/public/favicon.svg" type="image/x-svg+xml" />
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="/public/vant/index.css" />

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="/public/vue/vue.min.js"></script>
    <script src="/public/vant/vant.min.js"></script>
    <style>
      html,
      body,
      #app {
        height: 100%;
        background-color: #f7f8fa;

        --cell-value-color: red;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div v-if="tabbarActive === 0">
        <van-tabs v-model="tabActive" @change="getTodayPrice">
          <van-tab title="苹果" name="苹果"></van-tab>
          <van-tab title="华为" name="华为"></van-tab>
        </van-tabs>

        <!-- <van-search
          v-model="searchValue"
          placeholder="请输入搜索关键词"
        ></van-search> -->

        <div style="padding: 0 1rem; margin-top: 1rem; display: flex; justify-content: space-between; align-items: center">
          <div style="margin-left: 0.2rem; opacity: 0.75;">更新时间 : @{ .today }</div>
          <van-icon name="replay" @click="handleRefresh"></van-icon>
        </div>

        <div
          style="
            margin-top: 1rem;
            padding: 0 1rem;
            height: calc(100vh - 10rem);
            overflow-y: auto;
          "
        >
          <van-cell
            v-for="i in products"
            :key="i.id"
            :title="i.model"
            :label="`${i.color} ${i.version}`"
            border
            style="margin-bottom: 0.5rem"
          >
            <template #default>
              <div
                style="display: flex; justify-content: end; align-items: center"
              >
                <span style="margin-right: 0.8rem">今日</span>
                <span style="font-size: 1.25rem; color: #1989fa"
                  >¥ {{ i.price || '-' }}</span
                >
              </div>
            </template>
          </van-cell>
        </div>
      </div>
      <div v-else>开发中...</div>
      <van-tabbar v-model="tabbarActive">
        <van-tabbar-item icon="bag-o">报价</van-tabbar-item>
        <van-tabbar-item icon="user-o">我的</van-tabbar-item>
      </van-tabbar>
    </div>

    <script>
      // 在 #app 标签下渲染一个按钮组件
      new Vue({
        el: "#app",
        // 设置分隔符
        data() {
          return {
            tabActive: "苹果",
            tabbarActive: 0,
            searchValue: "",

            products: [],
          };
        },
        created() {
          this.getTodayPrice();
        },
        methods: {
          handleRefresh() {
            this.getTodayPrice();
            vant.Toast.success('刷新成功');
          },
          getTodayPrice() {
            try {
              fetch(`/api/product?brand=${this.tabActive}`)
                .then((res) => res.json())
                .then((data) => {
                  if (data.code === 0) {
                    this.products = data.data;
                  } else {
                    vant.Toast("获取数据失败");
                  }
                });
            } catch (error) {
              vant.Toast("网络请求失败");
            }
          },
        },
      });

      // 可以通过下面的方式手动注册
      //   Vue.use(vant.Lazyload);
    </script>
  </body>
</html>
